html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}

a{
    text-decoration: none;
}

.alinear{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

header{
    height: 160px;
    width: 100em;
    float: center;
    background-color: #4a377c67;
    margin-bottom: 10px;
}

nav, section, footer {
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
}

header h1{
    font: bold;
    font-size: 40px;
}

nav{
    width: 20rem;
    background-color: #6b4c6a;
    margin-left: 2%;
    text-align: center;
}

nav a{
    color: white;
}

footer{
    height: 80px;
    width: 100em;
    float: left;
    background-color: #4b142e67;
    overflow: hidden;
    
}

footer, article {
    margin-top: 10px;
    margin-bottom: 10px;
}


h3, h4, h5, h6, p{
    font-family: 'Droid Serif', sans-serif;
}

h1{
    font-size: 40px;
    font-weight: bold;
    color: #142fc7;
    font-family: 'Droid Serif', sans-serif;
    margin-left: 3%;
}

h2{
    font-size: 36px;
    margin-left: 25% ;
    font-weight: bold;
    color: rgb(129, 6, 6);
}

h3{
    font-size: 20px;
    letter-spacing: -1px;
}

header img{
    float: right;
    height: 100%;
    margin-right: 8%;
}

.playerImg{

    text-align: center;
}

.playerImg img{
    border-radius: 50px;
}

.centrar_texto{
    text-align: center;
    margin-top: 30px;
    font-size: 100px;
}

main h2{
    margin: 0%;
}

.tamañaimg{
    height: 200px;
    width: 200px;
    border-radius: 30px;
    padding: 10px;
}


.cuadro{
    margin: 3%;
    border: 3px solid #6b4c6a;
    border-radius: 20px;
}

.texto_entrada{
    margin: 0rem;
    margin-left: 2rem;
    text-align: justify;
}
.texto_entrada h3{
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 2;
    
}
.texto_entrada h3::after{
    margin-top: .2rem;
    content: '';
    display: block;
    width: 15rem;
    height: 0.3rem;
    background-color:#142fc7;
}

.texto_entrada p{
    padding: 0px;
    margin: 0rem;
    line-height: 1.9;
    max-width: 500px;
}

.texto_entrada p:first-of-type{
    margin: 0px;
    padding: 0px;
}
