body{
    margin: 0%;
}

main{
    margin: 0px 2% 0 2%;
}

canvas{
    background-color: black;
    align-items: center;
    text-align: center;
}


.main_fondo{
    position: relative;
}


.launch{
    position: absolute;
    top: 430px;
    right: 420px;
}

.launch button{
    background: transparent;
    border: 0px !important;
    font-size: 0px;
    height: 150px;
    width: 250px;
    cursor: pointer;
}

.launch button:hover{
    background: transparent;
    border: 5px solid lime !important;
}

.launch button:active{
    background: transparent;
    border: 0px !important;
}

.posCanva{
    position: absolute;
    top: 130px;
    left: 100px;
}

.posinfo1{
    position: absolute;
    top: 140px;
    left: 250px;
}

